In [1]:
import numpy as np
import pandas as pd

In [10]:
data = {
    "Power_level" : [12000,13000,5000,2000,4000,6000,18000,2000,2000,50000],
    "Uniform_Color" : ["Orange","Yellow","Blue","Green","Blue","Magenta","Orange","Yellow","Green","Orange"],
    "Specifies" : ["Saiyan","Saiyan","Saiyan","Saiyan","Saiyan","Saiyan","Namek","Namek","Namek","Namek"],
}

data = pd.DataFrame(data,  index = ["Goku","Gohan","Vegeta","Trunks","Gojeta","Goku3","Piccolo1","Piccolo2","Piccolo3","Piccolo4"])
data

          Power_level Uniform_Color Specifies
Goku            12000        Orange    Saiyan
Gohan           13000        Yellow    Saiyan
Vegeta           5000          Blue    Saiyan
Trunks           2000         Green    Saiyan
Gojeta           4000          Blue    Saiyan
Goku3            6000       Magenta    Saiyan
Piccolo1        18000        Orange     Namek
Piccolo2         2000        Yellow     Namek
Piccolo3         2000         Green     Namek
Piccolo4        50000        Orange     Namek

In [12]:
def my_function(x,h,l):
    if x > h:
        return("high")
    if x > l:
        return("med")
    return("low")

In [14]:
data["Power_level"].apply(my_function, args=[5000,1000])

Goku        high
Gohan       high
Vegeta       med
Trunks       med
Gojeta       med
Goku3       high
Piccolo1    high
Piccolo2     med
Piccolo3     med
Piccolo4    high
Name: Power_level, dtype: object

In [27]:
def my_color(x):
    if x == "Orange" or x == "Blue":
        return x
    else:
        return "Color not recognized"

In [28]:
pd.DataFrame(data["Uniform_Color"].apply(my_color))

                 Uniform_Color
Goku                    Orange
Gohan     Color not recognized
Vegeta                    Blue
Trunks    Color not recognized
Gojeta                    Blue
Goku3     Color not recognized
Piccolo1                Orange
Piccolo2  Color not recognized
Piccolo3  Color not recognized
Piccolo4                Orange