In [52]:
import pandas as pd
df = pd.read_csv("https://drive.usercontent.google.com/download?id=1_8iUr3J8BOc3aBlsB6Jt4--OUb4hd6e8&export=download&authuser=0&confirm=t&uuid=080d4ac6-d7e9-4abe-852f-dfff93eda612&at=APZUnTUL71DIMzsq0AE5SEHdSsfV:1721117421100")

In [53]:
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

### View unique items

In [54]:
df['state']

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: state, Length: 3333, dtype: object

In [55]:
df['state'].unique()
# The unique function in pandas is used to find the unique values present in the series.
# Unique values means - single value for multiple same values
# Series is a single column of a dataframe
# The unique function returns a list containing all unique elements only.

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MA', 'MO', 'LA', 'WV', 'IN', 'RI',
       'IA', 'MT', 'NY', 'ID', 'VT', 'VA', 'TX', 'FL', 'CO', 'AZ', 'SC',
       'NE', 'WY', 'HI', 'IL', 'NH', 'GA', 'AK', 'MD', 'AR', 'WI', 'OR',
       'MI', 'DE', 'UT', 'CA', 'MN', 'SD', 'NC', 'WA', 'NM', 'NV', 'DC',
       'KY', 'ME', 'MS', 'TN', 'PA', 'CT', 'ND'], dtype=object)

### Number of unique items

In [56]:
df['state'].nunique()
# It will give number of unique values present in the series

51

### Number of occurences of each item

In [57]:
# It gives count of each unique values present in the series
# It gives frequencies of each unique value

In [58]:
df['state'].value_counts()

state
WV    106
MN     84
NY     83
AL     80
WI     78
OH     78
OR     78
WY     77
VA     77
CT     74
MI     73
ID     73
VT     73
TX     72
UT     72
IN     71
MD     70
KS     70
NC     68
NJ     68
MT     68
CO     66
NV     66
WA     66
RI     65
MA     65
MS     65
AZ     64
FL     63
MO     63
NM     62
ME     62
ND     62
NE     61
OK     61
DE     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
GA     54
DC     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: count, dtype: int64

### To get relative frequencies

In [59]:
# apple: Appears 4 times out of 10, so the relative frequency is  4 / 10 = 0.4
# banana: Appears 4 times out of 10, so the relative frequency is 4 / 10 = 0.4
# orange: Appears 2 times out of 10, so the relative frequency is 2 / 10 = 0.4

In [60]:
df['state'].value_counts(normalize = True)

state
WV    0.031803
MN    0.025203
NY    0.024902
AL    0.024002
WI    0.023402
OH    0.023402
OR    0.023402
WY    0.023102
VA    0.023102
CT    0.022202
MI    0.021902
ID    0.021902
VT    0.021902
TX    0.021602
UT    0.021602
IN    0.021302
MD    0.021002
KS    0.021002
NC    0.020402
NJ    0.020402
MT    0.020402
CO    0.019802
NV    0.019802
WA    0.019802
RI    0.019502
MA    0.019502
MS    0.019502
AZ    0.019202
FL    0.018902
MO    0.018902
NM    0.018602
ME    0.018602
ND    0.018602
NE    0.018302
OK    0.018302
DE    0.018302
SC    0.018002
SD    0.018002
KY    0.017702
IL    0.017402
NH    0.016802
AR    0.016502
GA    0.016202
DC    0.016202
HI    0.015902
TN    0.015902
AK    0.015602
LA    0.015302
PA    0.013501
IA    0.013201
CA    0.010201
Name: proportion, dtype: float64

In [61]:
df['state'].value_counts(normalize = True) * 100

state
WV    3.180318
MN    2.520252
NY    2.490249
AL    2.400240
WI    2.340234
OH    2.340234
OR    2.340234
WY    2.310231
VA    2.310231
CT    2.220222
MI    2.190219
ID    2.190219
VT    2.190219
TX    2.160216
UT    2.160216
IN    2.130213
MD    2.100210
KS    2.100210
NC    2.040204
NJ    2.040204
MT    2.040204
CO    1.980198
NV    1.980198
WA    1.980198
RI    1.950195
MA    1.950195
MS    1.950195
AZ    1.920192
FL    1.890189
MO    1.890189
NM    1.860186
ME    1.860186
ND    1.860186
NE    1.830183
OK    1.830183
DE    1.830183
SC    1.800180
SD    1.800180
KY    1.770177
IL    1.740174
NH    1.680168
AR    1.650165
GA    1.620162
DC    1.620162
HI    1.590159
TN    1.590159
AK    1.560156
LA    1.530153
PA    1.350135
IA    1.320132
CA    1.020102
Name: proportion, dtype: float64

### Get first 'n' rows order by a given column

In [62]:
# Syntax - DataFrame.nlargest(n, columns, keep='first')

# The df.nlargest() method in pandas is used to retrieve the rows of a DataFrame 
# with the largest values in a specified column. Here’s how you can use it:

# n: Number of rows to return.
# columns: Column label or list of column labels to order by.
# keep: Determines which duplicates (if any) to keep. The default is 'first', 
# which keeps the first occurrence. Options are 'first', 'last', and False.

In [63]:
df.nlargest(15, 'account length')

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
817,UT,243,510,355-9360,no,no,0,95.5,92,16.24,...,63,13.91,264.2,118,11.89,6.6,6,1.78,2,False
1408,NM,232,408,386-9177,no,no,0,165.6,104,28.15,...,115,16.65,118.3,77,5.32,11.8,3,3.19,1,False
1551,MI,225,415,371-2500,no,no,0,165.4,106,28.12,...,109,23.26,210.0,93,9.45,8.7,3,2.35,0,True
1751,WY,225,415,374-1213,no,no,0,182.7,142,31.06,...,63,20.95,218.0,103,9.81,8.8,2,2.38,1,False
416,DE,224,510,361-6563,yes,no,0,171.5,99,29.16,...,103,13.60,212.4,102,9.56,5.0,2,1.35,1,True
1886,ID,224,510,360-8919,no,no,0,111.4,133,18.94,...,66,14.88,217.2,106,9.77,5.5,6,1.49,3,False
3216,SD,221,510,365-2192,no,yes,24,180.5,85,30.69,...,92,19.05,205.7,103,9.26,2.4,3,0.65,0,False
1045,TX,217,408,385-7082,no,no,0,176.4,115,29.99,...,128,13.50,306.6,107,13.80,9.3,3,2.51,4,False
2277,DC,217,415,421-9846,no,no,0,123.7,138,21.03,...,105,21.12,269.6,78,12.13,13.3,4,3.59,0,False
238,WY,215,510,393-9619,no,no,0,83.6,148,14.21,...,91,10.28,226.6,110,10.20,10.7,9,2.89,0,False
1387,CT,212,415,366-6751,no,no,0,126.0,96,21.42,...,80,12.27,302.8,102,13.63,7.6,3,2.05,1,False
2150,SC,212,415,336-8343,no,no,0,226.0,127,38.42,...,83,25.89,181.2,132,8.15,12.6,4,3.40,2,True
1093,VA,210,408,360-8666,no,no,0,104.6,121,17.78,...,71,12.71,255.1,67,11.48,6.5,8,1.76,2,False
2259,NC,210,415,363-7802,no,yes,31,313.8,87,53.35,...,103,12.55,192.7,97,8.67,10.1,7,2.73,3,False
309,SD,209,415,413-5310,no,no,0,227.2,128,38.62,...,92,21.96,183.5,74,8.26,8.9,4,2.40,3,False

### Drop a Column from a dataframe

In [64]:
df.drop(columns = 'area code', inplace=True)
# we use inplace=True to effect in the dataframe itself

In [65]:
df

,state,account length,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,414-4276,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,370-3271,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,328-8230,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,364-6381,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,400-4344,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

### Drop by index

In [66]:
df.drop(index=[0,1,2,4])

,state,account length,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
3,OH,84,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
5,AL,118,391-8027,yes,no,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,355-9993,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,329-9001,yes,no,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,335-4719,no,no,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,414-4276,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,370-3271,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,328-8230,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,364-6381,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,400-4344,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

### Transpose a Dataframe

In [67]:
df.T
# Row becomes columns & columns becomes rows

,0,1,2,3,4,5,6,7,8,9,...,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332
state,KS,OH,NJ,OH,OK,AL,MA,MO,LA,WV,...,IN,WV,OH,OH,SC,AZ,WV,RI,CT,TN
account length,128,107,137,84,75,118,121,147,117,141,...,117,159,78,96,79,192,68,28,184,74
phone number,382-4657,371-7191,358-1921,375-9999,330-6626,391-8027,355-9993,329-9001,335-4719,330-8173,...,362-5899,377-1164,368-8555,347-6812,348-3830,414-4276,370-3271,328-8230,364-6381,400-4344
international plan,no,no,no,yes,yes,yes,no,yes,no,yes,...,no,no,no,no,no,no,no,no,yes,no
voice mail plan,yes,yes,no,no,no,no,yes,no,no,yes,...,no,no,no,no,no,yes,no,no,no,yes
number vmail messages,25,26,0,0,0,0,24,0,0,37,...,0,0,0,0,0,36,0,0,0,25
total day minutes,265.1,161.6,243.4,299.4,166.7,223.4,218.2,157.0,184.5,258.6,...,118.4,169.8,193.4,106.6,134.7,156.2,231.1,180.8,213.8,234.4
total day calls,110,123,114,71,113,98,88,79,97,84,...,126,114,99,128,98,77,57,109,105,113
total day charge,45.07,27.47,41.38,50.9,28.34,37.98,37.09,26.69,31.37,43.96,...,20.13,28.87,32.88,18.12,22.9,26.55,39.29,30.74,36.35,39.85
total eve minutes,197.4,195.5,121.2,61.9,148.3,220.6,348.5,103.1,351.6,222.0,...,249.3,197.7,116.9,284.8,189.7,215.5,153.4,288.8,159.6,265.9
total eve calls,99,103,110,88,122,101,108,94,80,111,...,97,105,88,87,68,126,55,58,84,82
total eve charge,16.78,16.62,10.3,5.26,12.61,18.75,29.62,8.76,29.89,18.87,...,21.19,16.8,9.94,24.21,16.12,18.32,13.04,24.55,13.57,22.6
total night minutes,244.7,254.4,162.6,196.9,186.9,203.9,212.6,211.8,215.8,326.4,...,227.0,193.7,243.3,178.9,221.4,279.1,191.3,191.9,139.2,241.4
total night calls,91,103,104,89,121,118,118,96,90,97,...,56,82,109,92,128,83,123,91,137,77
total night charge,11.01,11.45,7.32,8.86,8.41,9.18,9.57,9.53,9.71,14.69,...,10.22,8.72,10.95,8.05,9.96,12.56,8.61,8.64,6.26,10.86
total intl minutes,10.0,13.7,12.2,6.6,10.1,6.3,7.5,7.1,8.7,11.2,...,13.6,11.6,9.3,14.9,11.8,9.9,9.6,14.1,5.0,13.7
total intl calls,3,3,5,7,3,6,7,6,4,5,...,3,4,4,7,5,6,4,6,10,4
total intl charge,2.7,3.7,3.29,1.78,2.73,1.7,2.03,1.92,2.35,3.02,...,3.67,3.13,2.51,4.02,3.19,2.67,2.59,3.81,1.35,3.7
customer service calls,1,1,0,2,3,0,3,0,1,0,...,5,1,2,1,2,2,3,2,2,0
churn,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False