# Reset
pd.reset_options('display.max_rows')

pd.reset_options('display.max_columns')

pd.reset_options('display.precision')

pd.reset_options('display.float_format')

In [2]:
import numpy as np
import pandas as pd

In [5]:
arr = np.random.randint(1,100, (80,25))
df = pd.DataFrame(arr)
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,97,85,49,22,78,94,65,65,5,72,...,83,95,38,4,50,81,62,54,99,76
1,51,62,25,6,88,98,49,79,74,9,...,50,50,46,95,51,43,75,94,49,26
2,97,56,57,10,14,1,6,63,23,29,...,50,11,57,9,31,39,26,48,79,84
3,9,93,66,5,70,42,10,30,77,78,...,83,54,76,5,40,96,7,33,8,24
4,42,21,4,34,57,1,71,12,52,89,...,42,41,69,44,81,6,53,93,21,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,55,17,35,1,35,22,12,61,94,45,...,91,3,22,91,95,36,24,55,25,23
76,7,37,24,86,23,80,93,17,41,91,...,80,41,98,19,73,4,65,68,80,87
77,13,62,55,39,99,42,18,59,3,74,...,23,2,56,42,38,63,29,31,78,67
78,48,70,40,68,57,80,66,48,81,87,...,93,68,24,73,98,70,33,67,60,17
79,25,98,79,19,48,1,7,27,30,5,...,69,81,99,87,96,36,95,32,50,4

AttributeError: module 'pandas' has no attribute 'Dataframe'