In [1]:
import numpy as np
import pandas as pd

In [2]:
# Created DataFrame from numpy array
df = pd.DataFrame(np.random.randint(0,100,(5,4)),  columns = list('abcd'))
df

    a   b   c   d
0  41  56  27   9
1  60  10  80  38
2  47  36  83  72
3  37   4  79  35
4  64  96  67  71

In [3]:
df['a']

0    41
1    60
2    47
3    37
4    64
Name: a, dtype: int64

In [4]:
type(df['a'])

pandas.core.series.Series

### Series

In [5]:
# Series - Any single column extracted from the given dataframe is Series

In [6]:
# Accessing first three element
df['a'][0:3]

0    41
1    60
2    47
Name: a, dtype: int64

In [7]:
# To get underlying numpy from pandas dataframe, we use values attribute
df['a'][0:3].values

array([41, 60, 47])

In [8]:
# To convert numpy array into list
df['a'][0:3].values.tolist()

[41, 60, 47]

## Creating standalone series

In [9]:
data = np.arange(10)
ser = pd.Series(data = data, name = 'numbers') # name is optional
df

    a   b   c   d
0  41  56  27   9
1  60  10  80  38
2  47  36  83  72
3  37   4  79  35
4  64  96  67  71

In [10]:
# If you don't provide index, pandas will create a default index starting with 0

In [11]:
index = ['a','b','c','d','e','f','g','h','i','j']
ser = pd.Series(data = data, index=index, name = 'numbers') # name is optional
ser

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
Name: numbers, dtype: int64

In [12]:
type(ser)

pandas.core.series.Series

In [13]:
# Series are 1-D object
ser * 2

a     0
b     2
c     4
d     6
e     8
f    10
g    12
h    14
i    16
j    18
Name: numbers, dtype: int64

### Extract individual item from a series

In [14]:
ser['a']

0

In [15]:
ser['b']

1

### Extracting more than one item from a dataframe

In [16]:
ser['a','b']

KeyError: 'key of type tuple not found and not a MultiIndex'

In [ ]:
# Extract more than one item
# ser['a','b']
# This will throw error bcz Series is 1-D object
# Therefore, it will accept only one argument
# Sol - Put all the item labels in a list and pass that list as argument

In [ ]:
# ['a','b'] - List
ser[ ['a','b'] ]

### Extract the index from series

In [17]:
# method 1
ser.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [18]:
# method 2
ser.keys()

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [19]:
# Also , If you simply extract one column from a dataFrame. It becomes a series. 
# So, you can think of a dataframe as a 'column-wise arrangement of series'.

### Series from a Dictionary

In [20]:
d1 = {'a':0, 'b':1, 'c':3}
d2 = {'b': 0, 'c':1, 'd':4}

In [21]:
ser1 = pd.Series(d1)
ser2 = pd.Series(d2)

In [22]:
ser1

a    0
b    1
c    3
dtype: int64

In [23]:
ser2

b    0
c    1
d    4
dtype: int64

In [24]:
# Keys will form the index
# Values will form the values of the series

### Addition

In [25]:
ser1 + ser2

a    NaN
b    1.0
c    4.0
d    NaN
dtype: float64

In [26]:
# Inplace of missing value, we use zero fro computation

In [27]:
ser1.add(ser2, fill_value = 0)

a    0.0
b    1.0
c    4.0
d    4.0
dtype: float64