### Import

In [1]:
# import pandas
import pandas as pd

### Load data into a DataFrame

In [2]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data") 
print(iris)
print(type(iris))

#read_csv(" path to the file") - Takes path of the csv file and returns data loaded into object
# we use pd.csv to load data
# DataFrame - 2D data i.e Matrix

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>

### Accessing

### copy

In [3]:
#It will create a copy of iris dataFrame

In [4]:
df = iris.copy()
print(df)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### head()

In [5]:
# head()

# To look first few rows of a DataFrame
# To get a quick overview of the data & its structure
# To get brief overview about how data looks like
# By default - It returns first 5 rows
# If we pass n, it will give n number of rows

# It shows the first few rows of a dataset
# It returns the first five rows of the dataframe

# Syntax :
#dataFrame.head(n)
#n - no of rows to return

In [6]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [7]:
df.head(10)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

### Shape

In [8]:
# df.shape
# The shape attribute in pandas is used to get the dimensions of a DataFrame or Series. 
# It returns a tuple representing the number of rows and columns (rows, columns) in the DataFrame.

In [9]:
df.shape

(149, 5)

### dtypes

In [10]:
# It depicts what type of data do we have

In [11]:
df.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

### describe()

In [12]:
# df.describe()
# It returns basic statistical details of a dataframe like count, mean, std, min, percentile, max of a given dataframe.

In [13]:
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

### columns

In [14]:
# df.columns
#The columns attribute in pandas is used to get or set the column labels of a DataFrame. 
#It returns an Index object containing the column names.

In [15]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [16]:
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

In [17]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

### Access specific column

In [18]:
# To access specific column
# dataframe.column_name
# dataframe["column_name"]

In [19]:
df.sl

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

### sum()

In [20]:
# df.sum()
# It will add all values in each column and return the sum for each column

In [21]:
df.sum()

sl                                                         871.4
sw                                                         454.6
pl                                                         562.4
pw                                                         179.6
flower_type    Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

### isnull()

In [22]:
# df.isnull()

# It denotes whether the null values are present in a dataframe or not
# It returns true for every null values
# It returns false for every non-null values

# Null values -> missing values / data that is absent
# Null values are represented using NAN / None

#https://www.educative.io/answers/what-is-the-isnull-function-in-pandas

In [23]:
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [24]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

### iloc

In [25]:

#df.iloc[row_start:row_end, column_start:column_end]
#used for slicing the data - creating a subset of data from a pandas dataframe
#used for acessing and retrieving data in dataframe
#iloc - integer location

In [26]:
df.iloc[0] # Single row

sl                     4.9
sw                     3.0
pl                     1.4
pw                     0.2
flower_type    Iris-setosa
Name: 0, dtype: object

In [27]:
df.iloc[0:3] # First 3 row

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [28]:
df.iloc[ [0,2,4] ]  # First , Third, Fifthrow

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [29]:
df.iloc[:,0] # First Column

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [30]:
df.iloc[:,0:3] # First three column

      sl   sw   pl
0    4.9  3.0  1.4
1    4.7  3.2  1.3
2    4.6  3.1  1.5
3    5.0  3.6  1.4
4    5.4  3.9  1.7
..   ...  ...  ...
144  6.7  3.0  5.2
145  6.3  2.5  5.0
146  6.5  3.0  5.2
147  6.2  3.4  5.4
148  5.9  3.0  5.1

[149 rows x 3 columns]

In [31]:
df.iloc[0:3,0:2] # First three rows & First Three Columns

    sl   sw
0  4.9  3.0
1  4.7  3.2
2  4.6  3.1